.about {
    .flavor-text {
        font-size: 20px;
        color: black;
    }

    .data-training {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 50% 50%;

        div {

            h3 {
                margin: 1em 0;
                font-size: 28px;
                text-align: center;
            }

            div {

                div {
                    font-size: 20px;
                    margin: 1.5em 0;

                    span {
                        color: black;
                    }

                    .abilities {
                        display: inline-block;
                        vertical-align: top;
                        text-transform: capitalize;
                        text-wrap: wrap;
                    }

                    .icon-type {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        height: 1.5em;
                        padding: 5px;
                        border-radius: 1em;
                        color: white;
                        margin: .2em;

                        img {
                            height: 100%;
                            margin-right: .2em;
                        }
                    }

                }
            }
        }

        .data {
            strong {
                display: inline-block;
                width: 130px;
            }
        }

        .training {
            border-left: 2px solid;
            padding: 0 1.5em;

            strong {
                display: inline-block;
                width: 165px;
            }
        }
    }
}